html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
}

#two-col-cont {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 3em);
    padding: 1em;
    gap: 1em;
    box-sizing: border-box;
}

.col {
    width: 50%;
    height: 100%;
}

.pan {
    border: 1px solid #000;
}

textarea {
    resize: none;
}

#output {
    display: flex;
    flex-direction: column;
}

#output > * {
    height: 50%;
}

#table-view {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

pre {
    text-wrap: wrap;
    overflow: auto;
}

nav {
  width: 100%;
  background-color: darkgreen;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 3em;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 2em;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo {
    font-size: 2em;
    color: white;
    text-decoration: none;
}